<!-- 
 File Name: footer.ejs
 Author: Amandeep Aujla
 Website Name: https://comp308-w17-assignment2.herokuapp.com/ /
 File Description: Footer File.
-->

 
 <!--Footer -->
        <div class= "footer">
        &copy;2017- Amandeep Aujla
        </div>